* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: oklch(21.2% 0.019 322.12);
  color: oklch(98.5% 0 0);
  font-family: "Sono", sans-serif;
  padding: 48px 64px;
}

.loader {
  text-align: center;
  font-size: 40px;
  font-weight: 600;
  margin-top: 24px;
}

.hidden {
  display: none !important;
}

.disputed {
  color: #ef4444;
  font-weight: bold;
  margin-right: 10px;
}

/* MAIN LAYOUT */
#root {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  margin-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  display: grid;
  grid-template-columns: 250px 1fr;
  gap: 48px;
}

section {
  display: flex;
  flex-direction: column;
}

.fact-list {
  max-height: 65vh;
  overflow-y: auto;
  padding-right: 8px;
  scrollbar-width: thin;
  scrollbar-color: oklch(21.2% 0.019 322.12) transparent;
}

.fact-list::-webkit-scrollbar {
  width: 10px;
}

.fact-list::-webkit-scrollbar-thumb {
  background-color: oklch(21.2% 0.019 322.12);
  border-radius: 10px;
}

.fact-list::-webkit-scrollbar-track {
  background: transparent;
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

/* ELEMENTS */

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
}

.logo img {
  width: 68px;
  height: 68px;
}

p {
  text-align: center;
}

h1 {
  font-size: 42px;
  text-transform: uppercase;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  margin-top: 6px;
}

.category {
  margin-bottom: 16px;
}

.fact {
  font-size: 20px;
  line-height: 1.4;
  background-color: oklch(36.4% 0.029 323.89);
  margin-bottom: 16px;
  padding: 16px 24px;
  letter-spacing: -1px;
  border-radius: 16px;

  display: flex;
  align-items: center;
  gap: 24px;
}

@media (max-width: 1200px) {
  .fact {
    flex-direction: column;
    align-items: flex-end;
    gap: 12px;
  }
}

.tag {
  text-transform: uppercase;
  font-size: 14px;
  font-family: "Coiny", sans-serif;
  padding-top: 3px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 100px;
}

.vote-buttons {
  margin-left: auto;
  flex-shrink: 0;

  display: flex;
  gap: 8px;
}

.vote-buttons button {
  border: none;
  background-color: oklch(43.5% 0.029 321.78);
  font-size: 18px;
  padding: 6px 12px;
  border-radius: 100px;
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.vote-buttons button:hover {
  background-color: oklch(26.3% 0.024 320.12);
}

.vote-buttons button:disabled {
  background-color: oklch(36.4% 0.029 323.89);
}

ul {
  list-style: none;
}

.source:link,
.source:visited {
  color: oklch(59.1% 0.293 322.896);
  text-decoration: none;
  margin-left: 12px;
  transition: 0.3s;
}

.source:hover,
.source:active {
  color: oklch(29.3% 0.136 325.661);
}

.btn {
  border: none;
  font-family: "Coiny", sans-serif;
  line-height: 1;
  text-transform: uppercase;
  font-size: 17px;
  padding: 16px 0 13px;
  background-image: linear-gradient(135deg, #3b82f6, #ef4444, #16a34a, #eab308);
  color: inherit;
  border-radius: 100px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  transform: scale(110%) rotate(-2deg);
}

.btn-large {
  font-size: 20px;
  padding: 20px 32px 17px;
}

.btn-all-categories {
  margin-bottom: 16px;
  width: 100%;
}

.btn-category {
  width: 100%;
  background-image: none;
}

/* FORM */
.fact-form {
  background-color: oklch(26.3% 0.024 320.12);
  margin-bottom: 40px;
  padding: 16px 32px;
  display: flex;
  align-items: center;
  gap: 16px;
  border-radius: 16px;
}

.fact-form input,
.fact-form select {
  width: 220px;
  background-color: oklch(36.4% 0.029 323.89);
  border: none;
  border-radius: 100px;
  padding: 16px;
  font-size: 18px;
  color: inherit;
  font-family: inherit;
}

.footer {
  padding-top: 20px;
  padding-bottom: 20px;
}

.fact-form input::placeholder {
  color: oklch(75% 0.01 320);
}

.fact-form input:first-child {
  flex-grow: 1;
}

.fact-form span {
  font-weight: 600;
  font-size: 18px;
  margin-right: 18px;
}

@media (max-width: 1000px) {
  body {
    padding: 32px 48px;
  }

  .fact-form {
    flex-direction: column;
    align-items: stretch;
  }

  .fact-form input,
  .fact-form select {
    width: auto;
  }
}

@media (max-width: 900px) {
  .main {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 600px) {
  #root {
    padding: 24px;
  }

  .header {
    flex-direction: column;
    gap: 16px;
  }

  .fact-form {
    padding: 16px;
  }

  .fact {
    padding: 12px 16px;
  }
}
